[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .mypy_cache,
    .pytest_cache,
    build,
    dist,
    .eggs,
    .tox,
    .vscode,
    .idea,
    .github

per-file-ignores =
    __init__.py: F403,F405
    tests/*.py: F401,F403,F405,F811,F841,ANN001,ANN201,ANN202,ANN003,ANN101,ANN102,ANN204

import-order-style = google
application-import-names = app

ignore =
    E203,
    W503,
    E501,
    F401,
    F403,
    F405,
    E731,
    W504,
    B008,
    B009,
    B010,
    B011,
    B014,
    B025,
    B026,
    B027,
    B028,
    B029,
    B030,
    B031,
    B032,
    B033,
    B034,
    B035,
    B036,
    B901,
    B902,
    B903,
    B904,
    B950
