-e ..[dev]  # Install the package in development mode
sphinx>=5.0.0
sphinx-rtd-theme>=1.0.0
sphinx-autodoc-typehints>=1.15.0
myst-parser>=0.18.0
sphinx-copybutton>=0.5.0
sphinxcontrib-mermaid>=0.7.1
sphinxcontrib-httpdomain>=1.8.0
sphinxcontrib-plantuml>=0.23
sphinxcontrib-programoutput>=0.17
